<!DOCTYPE html>
<html ng-app="app">

<meta name="viewport" content="width=device-width, height=device-height">

<head>
	<link rel="stylesheet" href ="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">
	<!--Message that prompts a mobile or tablet user to use landscape-->
	<div class="orientation-overlay">
		<div>Your device must be in landscape mode to use this application</div>
	</div>

	<!--Layer that darkens app when dropdown is active-->
	<div class="dropdown-overlay" ng-class="{'hidden' : !showScaleDropdown && !showTunerDropdown && !showRootNoteDropdown}" ></div>

	<div class="content-container">
		<!--Header area with logo-->
		<div class="header-container">
			<div class="logo"></div>
			<!--Separator bar-->
			<div class="separator"></div>
		</div>

		<!--Fretboard options-->
		<div class="menu-container">
			<!--Root note dropdown-->
			<div class="menu-item" ng-class="{'active-element' : showRootNoteDropdown}">
				<span>Root Note:</span>
				<div class="btn ddl" ng-click="toggleRootNoteDropdown()">{{notes[settings.currentRootNote]}}<span class="down-arrow desktop-show"> &#x25bc;</span></div>
				<!-- Selection box for Root Note -->
				<div class="dropdown" ng-show="showRootNoteDropdown">
					<div class="close-button" ng-click="toggleRootNoteDropdown()">X</div>
					<div class="dropdown-option" ng-repeat="note in notes" ng-click="changeRootNote($index)">{{note}}</div>
				</div>
			</div>

			<!--Scale dropdown-->
			<div class="menu-item" ng-class="{'active-element' : showScaleDropdown}">
				<span>Scale:</span>
				<!--todo: delete; ddl-scale should overwrite width property of ddl-->
				<div class="btn ddl ddl-scale" ng-click="toggleScaleDropdown()">{{scales[settings.currentScale].name}}<span class="down-arrow desktop-show"> &#x25bc;</span></div>
				<!-- Selection box for Scale -->
				<div class="dropdown dropdown-scale" ng-show="showScaleDropdown">
					<div class="close-button" ng-click="toggleScaleDropdown()">X</div>
					<div class="dropdown-option" ng-repeat="scale in scales" ng-click="changeScale($index)">{{scale.name}}</div>
				</div>
			</div>

			<!--Notation toggle-->
			<div class="menu-item">
				<span>Notation:</span>
				<div class="toggle-container">
					<div class="btn" ng-class="{'toggle-unselected': !settings.flatNotation}" ng-click="changeNotation(true)">
						<span class="desktop-show">Flat</span>
						<span class="desktop-hide">&#x266D;</span>
					</div>
					<div class="btn" ng-class="{'toggle-unselected': settings.flatNotation}" ng-click="changeNotation(false)">
						<span class="desktop-show">Sharp</span>
						<span class="desktop-hide">&#x266f;</span>
					</div>
				</div>
			</div>

			<!--Tune up button-->
			<div class="menu-item mobile-hide" ng-click="shiftTuning(1)">
				<div class="btn"><span>Tune Up</span></div>
			</div>

			<!--Tune down button-->
			<div class="menu-item mobile-hide" ng-click="shiftTuning(-1)">
				<div class="btn"><span>Tune Down</span></div>
			</div>
		</div>

		<!--Fretboard container-->
		<div class="fretboard-container">
			<!-- Iterate through each string -->
			<div ng-repeat="string in fretboard.strings" class="string">
				<!-- Open note -->
				<div class="open-note-container" ng-click="toggleTunerDropdown($index)" ng-class="{'active-element' : showTunerDropdown && currentString == $index}">
					<div class="open-note" ng-class="{'open-in-key' : string.openNoteIsInScale, 'open-root' : string.openNoteIsRoot}">{{string.frets[11].note}}</div>
				</div>

				<!-- Iterate through remaining frets for current string -->
				<div ng-repeat="fret in string.frets" class="fret fret-{{$index+1}}" ng-class="{'highlighted' : fret.isInScale}">
					<div class="note" ng-class="{'root' : fret.isRoot}">
					{{fret.note}}
					</div>
				</div>
			</div>
			<div class="dropdown dropdown-tuner" ng-show="showTunerDropdown">
				<div class="close-button" ng-click="toggleTunerDropdown()">X</div>
				<div class="dropdown-option" ng-repeat="note in notes" ng-click="changeTuning($index)">{{note}}</div>
			</div>
		</div>

		<!--Fret indicators-->
		<div class="fret-indicators-container">
			<div class="fret-indicators"></div>
		</div>

		<!--Additional info-->
		<div class="additional-info-container"></div>
	</div>

	<!--Scripts-->
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/GuitarHelperService.js"></script>
	<script src="js/MainCtrl.js"></script>
</body>
</html>